*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:linear-gradient(135deg,#000,#111,#1d1d1d);
    color:white;
    min-height:100vh;
    padding:20px;
}

.container{
    max-width:1000px;
    margin:auto;
}

header{
    text-align:center;
    margin-bottom:30px;
}

header h1{
    color:#d4af37;
    margin-bottom:10px;
}

header p{
    color:#ddd;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    gap:15px;
    flex-wrap:wrap;
}

.timer{
    background:#111;
    border:2px solid #d4af37;
    padding:12px 20px;
    border-radius:10px;
    font-weight:bold;
}

button{
    background:#d4af37;
    color:black;
    border:none;
    padding:12px 18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

.progress-wrapper{
    background:#333;
    height:28px;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:25px;
}

.progress-bar{
    width:0%;
    height:100%;
    background:#d4af37;
    color:black;
    text-align:center;
    font-weight:bold;
    line-height:28px;
    transition:0.5s;
}

.puzzle{
    background:#111;
    border:2px solid #d4af37;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.locked{
    opacity:0.5;
    pointer-events:none;
}

.puzzle h2{
    color:#d4af37;
    margin-bottom:15px;
}

input,
select{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:8px;
    border:none;
}

.message{
    margin-top:10px;
    font-weight:bold;
}

.success{
    color:#56ff56;
}

.error{
    color:#ff6b6b;
}

.letters{
    font-size:2rem;
    text-align:center;
    margin:20px 0;
    letter-spacing:10px;
}

.code-box{
    background:#d4af37;
    color:black;
    padding:15px;
    font-size:2rem;
    text-align:center;
    margin:15px 0;
    border-radius:10px;
    font-weight:bold;
}

.hidden{
    display:none;
}

#doorContainer{
    margin-top:20px;
    display:flex;
    justify-content:center;
}

.door{
    width:180px;
    height:250px;
    background:linear-gradient(#6a3d00,#3b2200);
    border:5px solid #d4af37;
    border-radius:8px;
}

.open{
    animation:openDoor 2s forwards;
}

@keyframes openDoor{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(-85deg);
    }
}

@media(max-width:700px){

    .top-bar{
        flex-direction:column;
    }

    .letters{
        font-size:1.5rem;
    }

}